<!DOCTYPE html>
<html>

<head>
  
  <title>Google Play Offline Validator</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link rel="stylesheet" href="style/material-icon.css">
  <link rel="stylesheet" href="style/material.indigo-pink.min.css">
  <link rel="stylesheet" href="style/styles.css">
  
</head>

<body ng-app="musicValidatorApp" ng-controller="MainController as mainCtrl"
  ng-init="mainCtrl.init()">
  
  <div class="titleBar">
    <div><i class="material-icons">music_note</i></div>
    <div class="title">Google Play CSV File Validator</div>
    <div class="spacer">&nbsp;</div>
    <div class="menubar">
      <span class="make-button" ng-click="mainCtrl.feedback()"><i class="material-icons">feedback</i></span>
      <span class="make-button" ng-click="mainCtrl.closeWindow()"><i class="material-icons">close</i></span>
    </div>
  </div>
  
  <!--
  <button id="fileBtn">Validate CSV File</button>
  -->
  <div id="mainContainer" style="max-height:100%">
    
    <!-- doumentation on the left -->
    <div id="docPanel" class="container">
      <div>
        <h3 style="padding:8px;margin-top: 6px;">Hello.</h3>
        <p class="content">
            We know that setting up a feed can be daunting, so we've created the below documents to help you along during the process.
        </p>
        <p class="content">Step 1. Generate an SSH Key.<br/><a class="link" data-tracking-name="Generate SSH Key Guide" target="_blank" href="https://drive.google.com/open?id=0BzQ-iepRUHs7MmpwSGNFQTFkZFk&authuser=0">Show me how!</a></p>
        <p class="content">Step 2. Setup the feed in the next tab.<br/><a class="link" data-tracking-name="Bulk Uploader Feed Setup Guide" target="_blank" href="https://drive.google.com/open?id=1VksPPPSIyztKmEg_jpIb3Jq-dkfKNFMdrNw57KfhO6E&authuser=0">Show me how!</a></p>
        <p class="content">Step 3. Upload the content to our SFTP server.<br/><a class="link" data-tracking-name="Feed Upload Guide" target="_blank" href="https://drive.google.com/open?id=0BzQ-iepRUHs7MmpwSGNFQTFkZFk&authuser=0">Show me how!</a></p>
      </div>
    </div>  
    
    <!-- validation view on the right -->
    <div id="resultPanel" class="container" ng-class="{'no-border': mainCtrl.state == 'SHOW_RESULTS'}">
      
        <!-- file picker view -->
        <div id="filePickerView" ng-show="mainCtrl.state == 'SHOW_FILE_PICKER'">
          <button id="filePickerBtn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" 
            ng-click="mainCtrl.onLoadCSVFeedClicked()">select a csv feed from your computer</button>
        </div>
        
        <!-- result view -->
        <div id="resultView" ng-show="mainCtrl.state == 'SHOW_RESULTS'">
          
          <div class="titleBar resultTitlebar">
            <!--
            <div style="margin-right:10px" class="make-button" ng-click="mainCtrl.state='SHOW_FILE_PICKER'">
              <i class="material-icons">keyboard_backspace</i>
            </div>
            -->
            <div class="title">Validation Results</div>
            <div class="spacer">&nbsp;</div>
            <div class="menubar">
              <span class="make-button" ng-click="mainCtrl.revalidate()"><i class="material-icons">replay</i></span>
              <span class="make-button" ng-click="mainCtrl.revalidate()"><i class="material-icons">file_upload</i></span>
            </div>
          </div>
          
          <!--
          <div id="toolbar" class="blue-background">
            <div id="validate-button" class="app-button blue-background" style="margin-right:10px"
            ng-click="mainCtrl.state='SHOW_FILE_PICKER'">Load Diff CSV File.</div>
            <div id="validate-button" class="app-button blue-background">Start Validation</div>
          </div>
          -->
          <div id="resultViewContentHolder">
            <!--
            <div class="hero-unit" ng-show="mainCtrl.results.global.length > 0">
              <div class="hero-text label">Found {{mainCtrl.results.global.length}} global errors!</div>
            </div>
            -->
            
            <div id="globalErrorViewContainerHolder">
              
              <!-- show when there's no global errors -->  
              <div class="section" ng-show="mainCtrl.results.global.length == 0">  
                <div class="header green-background">
                  No global errors found.
                </div>
              </div>
              
              <div class="section" ng-show="mainCtrl.results.global.length > 0">
                <div>
                  <span class="mdl-badge" data-badge="{{mainCtrl.results.global.length}}">
                    <span style="font-size:20px">Global Errors</span>
                  </span>
                </div>
                <div class="content"> 
                  <div class="msg error-msg" ng-repeat="result in mainCtrl.results.global">
                    <i class="material-icons">error_outline</i>{{result.text}}
                  </div>
                </div>
              </div>
              
            </div>
            
            <div id="localErrorViewContainer">
              
              <div class="hero-unit" ng-show="mainCtrl.results.local.length > 0">
                <div>
                  <span class="mdl-badge" data-badge="{{mainCtrl.results.local.length}}">
                    <span style="font-size:20px">Rows with errors</span>
                  </span>
                </div>
              </div>
              
              <!-- show when there's no local errors -->
              <div class="section" ng-show="mainCtrl.results.local.length == 0">  
                <div class="header green-background">
                  No rows have any errors.
                </div>
              </div>
              
              <!-- display all local errors (errors per row) -->
              <div class="section" ng-repeat="result in mainCtrl.results.local">
                
                <div class="header">ROW {{result.row}}&nbsp;</div>
                
                <div class="content with-border"> 
                  <!-- there could be multiple errors per row. -->
                  <div ng-repeat="error in result.errors" class="msg error-msg" data-error-type="{{error.type}}">
                    <i class="material-icons">error_outline</i>Cell:&nbsp;{{error.col}}&nbsp;-&nbsp;{{error.text}}
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          
        </div>
        
    </div>  
    
  </div>
  
  <script src="script/lib/jquery.min.js"></script>
  <script src="script/lib/angular.min-1-4-6.js"></script>
  <script src="script/lib/material.min.js"></script>
  <script src="script/lib/papaparse.min.js"></script>
  <script src="script/lib/ashe.js"></script>
  <script src="script/lib/ashe.modifiers.js"></script>
  <!--
  <script src="script/main.js"></script>
  -->
  <script src="script/main-angular.js"></script>
  
  <!-- insert new views here -->
  <script type="html/template" id="documentation-view-tmpl">
    Documentation View
  </script>
  
  <script type="html/template" id="validation-view-tmpl">
    <div ng-show="mainCtrl.state == 'SHOW_FILE_PICKER'">
      File Picker
      <button ng-click="mainCtrl.onLoadCSVFeedClicked()">Load CSV File</button>
    </div>
    <div ng-show="mainCtrl.state == 'SHOW_RESULTS'">
      Show Results
    </div>
  </script>
  
  <script type="html/template" id="validation-results-view-tmpl">
    {% for result in results %}
    <div>
      <p>{{result.text}}</p>
    </div>
    {% endfor %}
  </script>
  
</body>

</html>
