/* CSS Fonts */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('style/material-icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* CSS file placeholder. */

/* HTML Tag Styling */
body {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

/* Components Styling */
#mainContainer {
  align-items: stretch;
  background-color: #fafafa;
  display: flex;
  flex-grow: 1;
}

#docPanel {
  flex-grow: 1;
  max-width: 30%;
}

#resultPanel {
  border-width: 2px;
  display: flex;
  flex-grow: 2;
}

#resultPanel > #filePickerView {
  align-self: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

#resultPanel > #resultView {
  flex-grow: 1;
  max-height: 540px;
  overflow: scroll;
}

#titleBar {
  align-items: center;
  background-color: #2196F3;
  color: white;
  display: flex;
  -webkit-app-region: drag;
  padding: 10px;
}

#title {
  margin-bottom: 5px;
}

.app-button {
  color: white;
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.content {
  background-color: #FFFFFF;
  font-size: 14px;  
  padding: 8px;
}

.container {
  border: 1px dashed #c3c3c3;
  margin: 10px;
  padding: 5px;
}

.section {
  margin-bottom: 10px;
}

.spacer {
  flex-grow: 2;
}

.header {
  background-color: #F44336;
  color: white;
  font: 18px "arial" , sans-serif;
  padding: 5px;
}

.hero-unit {
  padding: 10px 0px;
}

.hero-text {
  font-size: 20px;
}

.hero-text > .total-errors {
  color: #F44336;
  font-size: 22px;
}

.error > .header {
  background-color: red !important;
}

/* Helper styles */
.blue-background {
  background-color: #2196F3;
}

.centralized-flex-box {
  align-items: center;
  display: flex;
  justify-content: center;
}

.error > .header {
  background-color: red !important;
}

.justify-middle-flex-box {
  display: flex;
  justify-content: center;
}

.make-button {
  cursor: pointer;
}