/* CSS Fonts */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('material-icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* CSS file placeholder. */

/* HTML Tag Styling */
body {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

/* Components Styling */
#mainContainer {
  align-items: stretch;
  background-color: #FAFAFA;
  display: flex;
  flex-grow: 1;
}

#docPanel {
  background-color: white;
  border: none;
  border-right: 1px solid rgba(0,0,0,0.14);
  flex-grow: 1;
  max-width: 30%;
  margin: 0px;
}

#filePickerBtn {
  font-size: 18px;
}

#globalErrorViewContainerHolder, #localErrorViewContainer {
  border-bottom:1px solid #ebebeb; 
  padding-top: 10px;
}

#resultPanel {
  border-width: 2px;
  display: flex;
  flex-grow: 2;
}

#resultPanel > #filePickerView {
  align-self: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

#resultPanel > #resultView {
  flex-grow: 1;
  max-height: 540px;
  border: 1px solid rgba(0,0,0,0.14)
}

#resultViewContentHolder {
  background-color: white;
  max-height: 454px;
  overflow: scroll;
  padding: 10px;
}

.titleBar {
  align-items: center;
  background-color: #2196F3;
  color: white;
  display: flex;
  -webkit-app-region: drag;
  padding: 10px;
}

.titleBar > .title {
  margin-left: 10px;
}

.title {
  font-size: 16px;
  margin-bottom: 3px;
}

.app-button {
  color: white;
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.content {
  background-color: #FFFFFF;
  font-size: 14px;  
  padding: 8px;
}

.container {
  border: 1px dashed #c3c3c3;
  margin: 10px;
  padding: 5px;
}

.resultTitlebar {
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,0.14);
  color: black;
  
  -webkit-box-shadow: 0px 3px 3px -1px rgba(163,163,163,1);
  -moz-box-shadow: 0px 3px 3px -1px rgba(163,163,163,1);
  box-shadow: 0px 3px 3px -1px rgba(163,163,163,1);
}

.section {
  margin-bottom: 10px;
}

.spacer {
  flex-grow: 2;
}

.header {
  background-color: #EC407A;
  color: white;
  padding: 5px;
}

.hero-unit {
  padding: 10px 0px;
}

.hero-text {
  font-size: 20px;
}

.hero-text > .total-errors {
  color: #F44336;
  font-size: 22px;
}

.error > .header {
  background-color: red !important;
}

.error-msg {
  align-items: center;
  display: flex;
}

.error-msg > .material-icons {
  color: red;
  margin-right: 5px;
}

#toolbar {
  display: flex;
}

/* Helper styles */
.blue-background {
  background-color: #2196F3;
}

.centralized-flex-box {
  align-items: center;
  display: flex;
  justify-content: center;
}

.error > .header {
  background-color: red !important;
}

.make-button {
  cursor: pointer;
}

.no-border {
  border: none !important;
}

.justify-middle-flex-box {
  display: flex;
  justify-content: center;
}

.with-border {
  border: 1px solid #D7D7D7 !important;
}
}